@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Rubik+Glitch+Pop&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Orbitron", sans-serif;
}

body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100vh;
    background-color: rgb(7, 7, 7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 80%;
    height: 80%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: #fff;
}

.image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background:url("asset/20250103173947_IMG_8580.JPG") ;
    background-size: cover;
}

.txt{
    text-align: center;
}
.txt2{
    text-align: center;
    position: absolute;
    bottom: 8%;
}
.txt2 h1{
    line-height: 1.7rem;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 3rem;
}

.links a{
    font-size: 4rem;
    cursor: pointer;
    color: #fff;
}

@media (max-width:500px) {
    .container {
        padding: 1rem; 
    }
    .txt h1{
        font-size: 1.5rem;
    }
}
@media (max-width:380px) {
    .links {
        gap: 3rem;
        margin-top: 2rem;
    }
    .links a {
        font-size: 3rem;
    }
    .txt2 h1 {
        font-size: 1.5rem;
        line-height: 1.2rem;
    }

}

